.submit-button {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    background-color: #0fbe9f;
}

/* FullCalendarの曜日下線を削除 */
.fc-col-header-cell-cushion {
    text-decoration: none; /* 下線を削除 */
}
